
body {
  background-color: greenyellow;
}
button {
  background-color: green;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  width: 120px;
  height: 40px;
}
.form-container {
  background-color: rgb(32, 232, 55);
  position: relative;
  top: 300px;
  left: 590px;
  height: 300px;
  width: 500px;
  border: 2px solid black;
}
.form {
  margin-left: 60px;
  margin-top: 20px;
  border: 2px solid black;
}
button {
  position: relative;
  left: 180px;
}
.success {
  background-color: rgb(10, 110, 232);
  color: white;
  text-align: center;
}
span {
  color: red;
}
